<footer class="well">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>Social</h3>
				<ul class="list-unstyled">
					<li>IRC: <a href="http://webchat.freenode.net/?channels=#unobtanium">#unobtanium on freenode</a></li>
					<li>Reddit: <a href="http://reddit.com/r/Unobtanium">/r/Unobtanium</a></li>
					<li>Twitter: <a href="http://twitter.com/120unobtanium">@120unobtanium</a></li>
					<li>Facebook: <a href="https://www.facebook.com/Unobtaniumrockchain">Unobtaniumrockchain</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Exchanges</h3>
				<ul class="list-unstyled">
					<li><a href="https://www.cryptsy.com/markets/view/133">Cryptsy</a></li>
					<li><a href="https://coinex.pw/trade/uno_btc">CoinEx</a></li>
					<li><a href="https://www.coins-e.com/exchange/UNO_BTC/">Coins-e</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Pools</h3>
				<ul class="list-unstyled">
					<li><a href="https://miningpool.co">MiningPool Co.</a></li>
					<li><a href="http://bit.usr.sh:9655/static/">Rav3n p2pool</a></li>
					<li><a href="http://un.coinmine.pl">CoinMine Pl</a></li>
					<li><a href="http://uno.livechains.net">Live Chains</a></li>
					<li><a href="http://uno.crypto-expert.com/">Crypto Expert</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Resources</h3>
				<ul class="list-unstyled">
					<li><a href="http://rockchain.info/">Block Explorer</a></li>
					<li><a href="http://unoticker.com/">Price ticker</a></li>
					<li><a href="https://bitcointalk.org/index.php?topic=313126.0">Bitcointalk thread</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
